/* ==========================================================================
HTML
========================================================================== */

body{
    background-color: rgb(2, 0, 36);
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

/* ==========================================================================
HEADER
========================================================================== */

header{
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #020024;
}

.logoimg{
    max-height: 4rem;
    display: block;
    margin: auto;
    padding: 10px;
}

hr.separator {
    height: 1px;
    border: none;
    background: rgb(229, 229, 229);
    width: 95%;
}

nav{
    padding: 10px;
    list-style-type: none;
    display: block;
}

li{
    float: left;
    margin: 5px 8px 0px 8px;
}

li a:hover{
    background-color: rgb(229, 229, 229);
    color: rgb(2, 0, 36, 0);;
    border-radius: 10px;
    transition-duration: 500ms;
    transform-style: ease;
}

li a{
    text-decoration: none !important;
    color: rgb(229, 229, 229);
    padding: 10px;
    font-size: px;
    transition-duration: 500ms;
    transform-style: ease;
    border-radius: 15px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 0px;
}

/* CUSTOM HOVER IMAGES*/

.home a:hover{
    background-image: url(home.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
}

.github a:hover{
    background-image: url(github.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
}

.figma a:hover{
    background-image: url(figma.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 15px;
}

.youtube a:hover{
    background-image: url(youtube.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px;
}

/* ==========================================================================
HERO
========================================================================== */

.hero{
    height:100vh;
    text-align: center;
    position: relative;
    background-image: url(hero.svg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.hero h1{
    font-size: 80;
    color: rgb(229, 229, 229);
    text-decoration: underline;
    margin: 0;
    
}

.hero h2{
    font-size: 40;
    color: 020024;
}